# Ignore Gradle project-specific cache directory
.gradle
build/
gradle/

# Ignore Gradle build output directory
build

### IntelliJ
**/.idea/
*.iml
*.ipr
*.iws

# Allure reports
/target
/allure-report
/target/allure/results
/allure-results
